# Data preparation notebook

In this notebook we prepare data based on knowledge gained from exploratory analysis (for details see notebook exploratory_analysis)

In [1]:
import pandas as pd 
import numpy as np
import random 

random.seed(42) #in case we will use random somewhere

data = pd.read_csv("./data/raw/credit_risk_dataset.csv")

In [2]:
data.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

## Missing values

## Feature engineering 

Not sure if we want it, but maybe we will come up with something interesting

## Drop irrelevant columns (if any)

## One-Hot-Encode categorical data

hint: use pd.get_dummies() for categorical columns

## Data standardization

In [4]:
import warnings # for muting warning messages
# mute warning messages
warnings.filterwarnings('ignore')
from sklearn.preprocessing import StandardScaler, MinMaxScaler

def preprocess_column(data, column_name, quantile=0.99, feature_range=(0, 1)):
   """
   Preprocess a column by removing outliers, standardizing, and min-max scaling.
  
   Parameters:
   data (pd.DataFrame): The input dataframe.
   column_name (str): The name of the column to preprocess.
   quantile (float): The quantile threshold for outlier removal.
   feature_range (tuple): The desired range of transformed data.


   Returns:
   pd.DataFrame: The dataframe with the processed column.
   """
   # Remove outliers
   column_no_outliers = data[column_name][data[column_name] < data[column_name].quantile(quantile)]
  
   # Reshape the data to fit the scaler
   column_no_outliers = column_no_outliers.values.reshape(-1, 1)
  
   # Initialize the scalers
   scaler = StandardScaler()
   min_max_scaler = MinMaxScaler(feature_range=feature_range)
  
   # Fit and transform the data with StandardScaler
   column_standardized = scaler.fit_transform(column_no_outliers)
  
   # Fit and transform the data with MinMaxScaler
   column_scaled = min_max_scaler.fit_transform(column_standardized)
  
   # Add the scaled data back to the original dataset
   data.loc[data[column_name] < data[column_name].quantile(quantile), column_name] = column_scaled.flatten()
  
   return data


# Columns to preprocess
columns_to_preprocess = ['person_income', 'person_age', 'loan_amnt', 'loan_percent_income', 'cb_person_cred_hist_length']


# Apply preprocessing to each column
for column in columns_to_preprocess:
   data = preprocess_column(data, column)


data.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,0.850266,3.992614e+03,4.789686,332.390868,11.011695,0.218164,0.387432,0.664987
std,5.909455,5.595455e+04,4.142630,3306.362486,3.240459,0.413006,0.227869,2.892301
min,0.000000,0.000000e+00,0.000000,0.000000,5.420000,0.000000,0.000000,0.000000
25%,0.103448,1.561086e-01,2.000000,0.154110,7.900000,0.000000,0.209302,0.071429
50%,0.206897,2.307692e-01,4.000000,0.256849,10.990000,0.000000,0.348837,0.142857
75%,0.344828,3.402715e-01,7.000000,0.400685,13.470000,0.000000,0.534884,0.428571
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,1.000000,30.000000

## Save processed data

In [ ]:
#assuming final dataframe will be called data_final

data_final.to_csv('./data/processed/processed_credit_risk_dataset.csv') 

data_final.to_sql('./data/sql/processed_credit_risk_dataset.sql')