# Data preparation notebook

In this notebook we prepare data based on knowledge gained from exploratory analysis (for details see notebook exploratory_analysis)

In [6]:
import pandas as pd 
import numpy as np
import random 

random.seed(42) #in case we will use random somewhere

data = pd.read_csv("./data/raw/credit_risk_dataset.csv")

In [2]:
data.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

## Missing values

## Feature engineering 

Not sure if we want it, but maybe we will come up with something interesting

## Drop irrelevant columns (if any)

## One-Hot-Encode categorical data

One-Hot-Encoding is a technique that we use to represent categorical variables as numerical values in a machine learning model.

In [7]:
data = pd.get_dummies(data,columns=['loan_intent','loan_grade','person_home_ownership']) #OHE of categorical columns with more than 2 categories in each 
data = pd.get_dummies(data,columns=['cb_person_default_on_file'], drop_first= True) #OHE of the categorical column with only 2 categories in it

## Data standardization

## Save processed data

In [ ]:
#assuming final dataframe will be called data_final

data_final.to_csv('./data/processed/processed_credit_risk_dataset.csv') 

data_final.to_sql('./data/sql/processed_credit_risk_dataset.sql')